<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>复利计算器</title>
	<link rel="stylesheet" type="text/css" href="css/main.css"/>
	<script type="text/javascript" src="js/vue.min.js"></script>
</head>
<body>
	<header>
		复利计算器
	</header>
	<main>
		<p><span>START</span> <input v-model="start" @input="changeStatus()" ></p>
		<p><span>NOW</span> <input v-model="now" @input="changeStatus()" /></p>
		<p><span>END</span> <input v-model="end" @input="changeStatus()" /></p>
		
		<p v-show="!percentInput" @click="percentInput=true" style="text-align: center;">已完成 {{percent}}%</p>
		<p v-show="percentInput"><span @click="percentInput=false">PERCENT</span> <input v-model="percent" @input="changePercent()" /></p>
		
		<br>
		
		<p><span class="position">UP</span>
			<select v-model="upstat" :style="{backgroundColor: upstat=='forbid'?'firebrick':'white', color: upstat=='forbid'?'white':'black'}" @change="changeUp">
				<option value="allow" style="background-color: white;color: black;">ALLOW</option>
				<option value="forbid" style="background-color: firebrick;color: white;">FORBID</option>
			</select> &nbsp;
			<ins v-show="upstat=='forbid'">{{forbidDates.up}}</ins>
		</p>
		<p><span class="position">DOWN</span>
			<select v-model="downstat" @change="changeDown" :style="{backgroundColor: downstat=='forbid'?'firebrick':'white', color: downstat=='forbid'?'white':'black'}">
				<option value="allow" style="background-color: white;color: black;">ALLOW</option>
				<option value="forbid" style="background-color: firebrick;color: white;">FORBID</option>
			</select> &nbsp;
			<ins v-show="downstat=='forbid'">{{forbidDates.down}}</ins>
		</p>
		
		
	</main>
	<script type="text/javascript">
		var vue = new Vue({
			el: "main",
			data:{
				percent: 0,
				start: "",
				now: "",
				end: "",
				percentInput: false,
				upstat: "allow",
				downstat: "allow",
				forbidDates:{
					up: "00-00",
					down: "00-00"
				}
			},
			methods:{
				changeStatus: function(){
					var start = + this.start;
					var now = + this.now;
					var end = +this.end;
					
					var storiedObj = {"start": start, "now": now, "end": end};
					localStorage.setItem("CACHE", JSON.stringify(storiedObj));
					
					var ans = Math.log(now / start) / Math.log(end / start);
					var percent = ans * 100;
					this.percent = percent.toFixed(2);
				},
				changePercent: function(){
					var start = +this.start;
					var end = +this.end;
					var percent = +this.percent;
					
					var now = Math.pow((end / start), percent / 100) * start;
					now = now.toFixed(2);
					
					var storiedObj = {"start": start, "now": now, "end": end};
					localStorage.setItem("CACHE", JSON.stringify(storiedObj));
					
					this.now = now;
				},
				_getDate: function(){
					function strf(num){
						return (num < 10 ? '0': '') + num;
					};
					return strf(new Date().getMonth() + 1) + '-' + strf(new Date().getDate());
				},
				_updatePositionCache: function(){
					storiedObj = {
						upstat: this.upstat,
						downstat: this.downstat,
						forbidDates:{
							up: this.forbidDates.up,
							down: this.forbidDates.down
						}
					};
					storiedObj = JSON.stringify(storiedObj);
					localStorage.setItem("POSITION_CACHE", storiedObj);
				},
				changeUp: function(){
					if(confirm("Ensure to change?")){
						if(this.upstat == "forbid"){
							this.forbidDates.up = prompt("Input date:", this._getDate());
						}
						this._updatePositionCache();
					}else{
						this.upstat = (this.upstat == 'forbid' ? 'allow': 'forbid');
					}
				},
				changeDown: function(){
					if(confirm("Ensure to change?")){
						if(this.downstat == "forbid"){
							this.forbidDates.down = prompt("Input date:", this._getDate());
						}
						this._updatePositionCache();
					}else{
						this.downstat = (this.downstat == 'forbid' ? 'allow': 'forbid');
					}
				}
			}
		});
		
		(function(){
			var storiedObj = localStorage.getItem("CACHE");
			if(storiedObj){
				storiedObj = JSON.parse(storiedObj);
				vue.start = storiedObj.start;
				vue.now = storiedObj.now;
				vue.end = storiedObj.end;
				vue.changeStatus();
			}
			
			storiedObj = localStorage.getItem("POSITION_CACHE");
			if(storiedObj){
				storiedObj = JSON.parse(storiedObj);
				vue.forbidDates = storiedObj.forbidDates;
				vue.upstat = storiedObj.upstat;
				vue.downstat = storiedObj.downstat;
			}
		})();
	</script>
</body>
</html>
